# Ignore virtual environment
venv/
*.pyc
__pycache__/

# Ignore model files
model/*.pt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore media files
media/

# Ignore system files
.DS_Store
Thumbs.db

venv/ 

.gitignore